/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.wrapper-btn-select-file {
  input[type='file'] {
    display: none;
    text-transform: lowercase;
  }
}

span.wrapper-file-name {
  margin-top: -10px;
}

mat-card-actions.mat-card-actions > .mat-raised-button {
  margin: 0;
}

mat-card-content.card-content-selected-file-info {
  margin-bottom: -10px;
}
