/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.sl-version {
  font-weight: bold;
  word-break: break-word;
}

.sl-name {
  word-break: break-word;
}

input {
  text-overflow: ellipsis;
}

.card-artifact-deployment {
  min-width: 500px;
}

.override-sl-name-form-field,
.override-sl-version-form-field {
  margin-bottom: 8px;
  padding: 4%;
  width: 100%;
}
