<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" [style.marginLeft.px]="64" class="wrapper-content mat-typography" cdkScrollable>
  <div fxFlex class="toolbar mat-elevation-z4">
    <mat-toolbar>
      <app-menu></app-menu>
      <span class="title-profile-page">{{ (user$ | async).name }}</span>
    </mat-toolbar>
  </div>

  <div fxFlex fxFlexFill class="content">
    <div class="central-content">
      <mat-card>
        <mat-card-title fxLayout="row">
          <mat-icon color="primary">perm_data_setting</mat-icon>
          <span class="margin-left-x1 text-upper">Preferences</span>
        </mat-card-title>
        <mat-card-content>
          <app-settings-theme-color></app-settings-theme-color>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
