/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import './colors';

.width-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.light-bold {
  font-weight: 500;
}

.hidden {
  display: none;
}

.color-primary-light-bold {
  @extend .light-bold;
}

.color-accent-light-bold {
  @extend .light-bold;
}

.color-warn-light-bold {
  @extend .light-bold;
}

.color-primary-bold {
  @extend .bold;
}

.color-accent-bold {
  @extend .bold;
}

// ---------------------------------------------------------------

// generate padding and margin according to directions + px
$sizes: (
  x0: 0,
  x1: 10,
  x2: 20,
  x3: 30,
  x4: 40
);
$directions: '', '-left', '-right', '-top', '-bottom';

@each $keySize, $valueSize in $sizes {
  @each $dir in $directions {
    .padding#{$dir}-#{$keySize} {
      padding#{$dir}: #{$valueSize}px !important;
    }

    .margin#{$dir}-#{$keySize} {
      margin#{$dir}: #{$valueSize}px !important;
    }

    .margin#{$dir}-#{$keySize}-no-last:not(:last-child) {
      margin#{$dir}: #{$valueSize}px !important;
    }
  }
}

// ---------------------------------------------------------------

// generate size + px
@mixin mat-icon-size($size) {
  font-size: $size !important;
  line-height: $size !important;
  height: $size !important;
  width: $size !important;
}

.icon-x1 {
  @include mat-icon-size(16px);
}

.icon-x2 {
  @include mat-icon-size(24px);
}

.icon-x3 {
  @include mat-icon-size(32px);
}

.icon-x4 {
  @include mat-icon-size(48px);
}

.icon-x5 {
  @include mat-icon-size(56px);
}

.icon-x6 {
  @include mat-icon-size(64px);
}

// ---------------------------------------------------------------

// generate the color palette
@mixin generate-colors($name, $colorHexa, $index, $lightOrDark) {
  .color-#{$name}-x#{$index} {
    color: lighten($colorHexa, 10 * $index);
  }

  .background-color-#{$name}-x#{$index} {
    background-color: lighten($colorHexa, 10 * $index);
  }

  .border-color-#{$name}-x#{$index} {
    border-color: lighten($colorHexa, 10 * $index);
  }

  .background-color-hover-#{$name}-x#{$index}:hover {
    background-color: lighten($colorHexa, 10 * $index);
  }
}
